* {
    margin: 0;
    padding: 0;
}

.subreddit-list {
    color: #fff;
    background-color: #0B1416;
    border: 1px solid #fff;
    width: 65%;
    height: 100vh;
}

.heading {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.subreddit-item {
    margin-bottom: 1.5rem;
}